<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kobotoolbox Api</title>
</head>
<body>

   <h3>HOW TO FETCH KOBOTOOLBOX API USING DJANGO</h3>


   <h1>{{api.content}}</h1>

   <h1>{{api.name}}</h1>
   
   <h1>{{api.deployment__submission_count}}</h1>
   <h1>{{api.results.1.Name}}</h1>
   <h1>{{api.data_url_xlsx}}</h1>
   <a href="{{api.data_url_xlsx}}">Download</a>

   {% for x in api %}

   <h1>{{x.name}}</h1>
   <h1>{{x.age}}</h1>


   {% endfor %}




   




    
</body>
</html>